

body{
	background: #397F97 ;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
h1{
	color: #000;
	font-size: 13px;
	text-align:center;  
	margin: 0; 
}

h2{
	color: #000;
    text-align:left;
    margin:0;
    font-size: 13px;
	
}

p{
	color: #000;
	font-size: 13px;
	text-align: left;	
}

div .nav{
	position: -webkit-sticky;
	position: sticky;
	background-color: white;
  	padding: 50px;

}


.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
#navbar{
	background-color: white;
	width: 100%;
	height: 100px;

}
html {
  scroll-behavior: smooth;
}

.container{
	width: 80%;
	padding-top:20px;
	margin: auto;
	overflow :hidden;
	background: #fff;
}



.tow{
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	

	}

.card{
	background-color: #fff ;
	width: 98%;
	border-radius: 8px;
	margin-left: 10px;

	
	
}

.active, .card:hover {
	background-color:#f1f1f1;
	width: 98%;
	
	margin-left: 10px;
	
	
}

.Big h2{
    color: #000;
	font-size: 13px;
	font-style: bold;
    text-align:left;

}

.Big p{
	color: #000;
	font-size: 13px;
}
.content{
	padding:10px;
    display: flex;
    flex-direction: row;
	
	/*! vertical-align: baseline; */
	margin-left: 3%;

}


#pic {
	
}

#pic img{
	border-radius: 20px;
	margin-top: 5px;
}
display: inline-flex;
	margin: 20px;

#txt{
	display: flex;
	flex-direction:row;
	margin: 20px;
}

.accordion {
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  
}

.active, .accordion:hover {
  background-color: #f15a24; 
}

.panel {
  padding:  6px 20px;;
  display: none;
  background-color: white;
  overflow: hidden;
}

.linkedin{
  background-color: #0e76a8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 40px;
}










@media only screen and (max-width: 720px) {
  
  body{
	background: #fff;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
h1{
	color: #000;
	font-size: 1.5em;
	text-align: center;
}

h2{
	color: #000;
	font-size: 13px;
    text-align:left;
    margin:0;
    margin-top: 8px;
	
	
}

p{
	color: #000;
	font-size: 12px;
	
}

.container{
	width: 90%;
	
	margin: auto;
	overflow :hidden;
	
	
}
.tow{

	display: -ms-flex;
	display: -webkit-flex;
	display: flex;

	flex-direction: column;

	}

.card > div{
	
	width: 100%;
	margin-left: 10px;

	
}

.active, .card:hover {
	background-color:#f1f1f1;
	margin: 0;
	margin-left: 10px;
	
	
	
}


.content{
	padding: 2 %;
	margin: 5 0px;
	padding: 2%;
	display: flex;
}
}

#pic {
	
	margin-top: 5px;
}

#txt{
	display: flex;
	flex-direction: column;
	margin: 15px;
}
.accordion {
  
  border: none;
  color: #f15a24;
  padding: 8px 8px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
 
}

.active, .accordion:hover {
  background-color: #f15a24; 
  color: #fff;
}

.panel {
  padding: 6px 20px;
  display: none;
  background-color: white;
  overflow: hidden;
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

}